@page "/"
@using System.Diagnostics.CodeAnalysis
@using RoomsCalendar.Share.Constants
@using ZLinq
@inject IServiceProvider Services
@inject RoomsCalendar.Share.Domain.IEventsProvider EventsProvider
@inject TimeZoneInfo TimeZone

<PageTitle>進捗部屋情報</PageTitle>

<div class="flex flex-col gap-y-4">

    <h2>今後の進捗部屋</h2>

    @if (RoomsProvider.LastUpdatedAt == default)
    {
        <AlertCard Type="AlertCard.AlertType.Information"
                   Title="部屋情報がありません">
            <p>
                サーバーの起動直後は部屋情報が表示されません。
                時間を空けてもう一度アクセスしてください。
            </p>
        </AlertCard>
    }
    else
    {
        <div class="flex flex-row gap-2 flex-wrap tx-body2">
            <span>
                最終更新
            </span>
            <span>
                @($"{RoomsProvider.LastUpdatedAt.ToOffset(TimeSpan.FromHours(9)).DateTime:yyyy/MM/dd HH:mm}") (JST)
            </span>
        </div>
    }

</div>

@if (GroupedRooms is null)
{
    <p>読み込み中......</p>
}
else if (RoomsProvider.LastUpdatedAt != default)
{

    if (GroupedRooms.Count == 0 && RoomsProvider.LastUpdatedAt != default)
    {
        <p>部屋情報がありません。</p>
    }
    else
    {
        @if (!GroupedRooms.ContainsKey(JstToday))
        {
            <div class="flex flex-col gap-y-3
                                                                                                                                    md:flex-row md:flex-nowrap md:gap-x-4 md:items-center">

                <div class="tx-body-strong w-[6rem] shrink-0">
                    <h3>
                        今日
                    </h3>
                </div>
                <p>
                    本日は進捗部屋がありません。
                </p>

            </div>
        }

        @foreach (var (date, rooms) in GroupedRooms)
        {
            <div class="flex flex-col gap-y-3
                                                                                                                                    md:flex-row md:flex-nowrap md:gap-x-4">

                <div class="tx-body-strong w-[6rem] md:pt-2 shrink-0">
                    <h3>
                        @{
                            var diff = date.DayNumber - JstToday.DayNumber;
                            if (diff == 0)
                            {
                                <span>今日</span>
                            }
                            else if (diff == 1)
                            {
                                <span>明日</span>
                            }
                            else
                            {
                                <span>@(string.Create(JapaneseCulture, $"{date:MM/dd (ddd)}"))</span>
                            }
                        }
                    </h3>
                </div>
                <div class="grid md:grid-cols-2 gap-3 grow">
                    @foreach (var r in rooms)
                    {
                        <RoomCard PlaceName="@r.Key"
                                  AvailableTimes="@([.. r.Value.Select(v => (v.Item1.Room.AvailableSince, v.Item1.Room.AvailableUntil))])"
                                  Events="@([.. r.Value.SelectMany(v => v.Item1.HeldEvents)])"
                                  IsKnoqRegistered="@r.Value.Aggregate(false, (acc, v) => acc || v.KnoqRegistered)" />
                    }
                </div>

            </div>
        }

    }
}

<AlertCard Type="AlertCard.AlertType.Tips"
           Title="APIについて">
    <p>
        進捗部屋の情報は
        <a href="@($"/api/rooms")"
           target="_blank"
           class="font-medium text-note-primary text-balance underline hover:no-underline">
            <code>/api/rooms</code>
            <span class="material-symbols-rounded text-sm!">open_in_new</span>
        </a>
        から、イベントの情報は
        <a href="@($"/api/events")"
           target="_blank"
           class="font-medium text-note-primary text-balance underline hover:no-underline">
            <code>/api/events</code>
            <span class="material-symbols-rounded text-sm!">open_in_new</span>
        </a>
        から取得することができます。
    </p>
    <p>
        クエリパラメータ
        <code>since</code>
        と
        <code>until</code>
        に
        ISO8601
        形式の日時を指定して絞り込むことができます。
    </p>
</AlertCard>

@code {
    [Inject(Key = RoomsProviderNames.KnoqRegistered)]
    [NotNull]
    IRoomsProvider? RoomsProvider { get; set; }

    [Inject(Key = RoomsProviderNames.TitechReserved)]
    [NotNull]
    IRoomsProvider? TitechRoomsProvider { get; set; }

    SortedList<DateOnly, Dictionary<string, List<(RoomWithEvents, bool KnoqRegistered)>>>? GroupedRooms;

    DateOnly JstToday => DateOnly.FromDateTime(TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, TimeZone));

    readonly static System.Globalization.CultureInfo JapaneseCulture = new("ja-JP", false);

    async ValueTask InitializeGroupedRoomsAsync(CancellationToken ct)
    {
        var since = DateTime.UtcNow.AddHours(9).Date.AddHours(-9);
        var titechRooms = (await TitechRoomsProvider.GetRoomsAsync(since, DateTimeOffset.MaxValue, CancellationToken.None)).GroupBy(DateOnlyKeySelector); // Prioritize room information from university website.
        var knoqRooms = (await RoomsProvider.GetRoomsAsync(since, DateTimeOffset.MaxValue, CancellationToken.None)).GroupBy(DateOnlyKeySelector).ToDictionary(g => g.Key);

        GroupedRooms = [];

        foreach (var dateRooms in titechRooms)
        {
            var date = dateRooms.Key;

            if (!knoqRooms.TryGetValue(date, out var knoqDateRooms))
            {
                // All rooms at the date are not registered to the knoQ service.
                GroupedRooms[date] = dateRooms
                    .GroupBy(r => r.PlaceName)
                    .ToDictionary(
                        g => g.Key,
                        g => g.AsValueEnumerable()
                            .Select(r => ValueTuple.Create(new RoomWithEvents { Room = r, HeldEvents = [] }, false))
                            .ToList());
                continue;
            }

            var destDateRooms = (GroupedRooms[date] = []);
            foreach (var placeRooms in dateRooms.GroupBy(r => r.PlaceName))
            {
                var placeName = placeRooms.Key;
                using var knoqPlaceRooms = knoqDateRooms.AsValueEnumerable().Where(r => r.PlaceName == placeName).ToArrayPool();

                var destPlaceRooms = (destDateRooms[placeName] = []);
                foreach (var r in placeRooms)
                {
                    if (SpanAny<Room>(knoqPlaceRooms.Span, kr => kr.AvailableSince == r.AvailableSince && kr.AvailableUntil == r.AvailableUntil))
                    {
                        // The room is correctly registered to the knoQ service.
                        destPlaceRooms.Add(ValueTuple.Create(
                            new RoomWithEvents
                            {
                                Room = r,
                                HeldEvents = await GetHeldEventsAsync(r, ct)
                            },
                            true
                        ));
                    }
                    else
                    {
                        // The room is not registered to the knoQ service.
                        destPlaceRooms.Add(ValueTuple.Create(
                            new RoomWithEvents
                            {
                                Room = r,
                                HeldEvents = []
                            },
                            false
                        ));
                    }
                }
            }
        }

        // TitechRoomsCollector retrieves room data up to next week, so we also use knoQ data beyond next week.
        var useKnoqSince = DateOnly.FromDateTime(since.AddDays(7).AddHours(9));
        foreach (var dateRooms in knoqRooms.Where(kr => kr.Key >= useKnoqSince))
        {
            var date = dateRooms.Key;
            var destDateRooms = GroupedRooms.TryGetValue(date, out var _dr)
                ? _dr
                : (GroupedRooms[date] = []);

            foreach (var r in dateRooms.Value)
            {
                var item = ValueTuple.Create(
                    new RoomWithEvents
                    {
                        Room = r,
                        HeldEvents = await GetHeldEventsAsync(r, ct)
                    },
                    true
                );
                if (destDateRooms.TryGetValue(r.PlaceName, out var destPlaceRooms))
                {
                    destPlaceRooms.Add(item);
                }
                else
                {
                    destDateRooms[r.PlaceName] = [item];
                }
            }
        }

        DateOnly DateOnlyKeySelector(Room r)
        {
            return DateOnly.FromDateTime(TimeZoneInfo.ConvertTimeFromUtc(r.AvailableSince.UtcDateTime, TimeZone));
        }

        async ValueTask<IEnumerable<Event>> GetHeldEventsAsync(Room r, CancellationToken ct)
        {
            return (await EventsProvider.GetEventsAsync(r.AvailableSince, r.AvailableUntil, CancellationToken.None)).Where(e => e.PlaceName.Equals(r.PlaceName, StringComparison.OrdinalIgnoreCase));
        }

        static bool SpanAny<T>(ReadOnlySpan<T> span, Predicate<T> predicate)
        {
            for (int i = 0; i < span.Length; i++)
            {
                if (predicate(span[i]))
                {
                    return true;
                }
            }
            return false;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await InitializeGroupedRoomsAsync(CancellationToken.None);
    }

    sealed class RoomWithEvents
    {
        public required Room Room { get; init; }
        public required IEnumerable<Event> HeldEvents { get; init; }
    }
}
